.home {
  @apply w-8/12 p-10 mx-auto;
  .header {
    .userImage {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
  .title {
    @apply mb-5;
    h1 {
      @apply text-3xl font-bold mb-4;
    }
  }
}