@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.wrapper {
  @apply p-4 sm:p-8 md:p-16;
}
.input {
  @apply px-4 py-2 border border-blue-600 text-white outline-none rounded-lg bg-blue-950 bg-opacity-80 transition duration-200 hover:bg-opacity-90 focus:bg-opacity-90;
}
.ticket {
  @apply cursor-pointer py-1 px-2 border rounded border-slate-500 border-dashed transition duration-200 bg-slate-600 bg-opacity-0 hover:bg-opacity-20 text-white;
}
.ticket.selected {
  @apply border-blue-600 bg-blue-950 bg-opacity-80 border-dotted;
}

.create-button {
  @apply grid place-items-center border border-dashed border-slate-400 rounded-lg p-3 cursor-pointer transition duration-200 hover:bg-slate-50 hover:bg-opacity-5;
}