@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply p-4 sm:p-8 md:p-16;
}
.base-gray {
  @apply bg-gray-400 bg-opacity-10;
}
.base-border {
  @apply border-gray-400 border-opacity-10;
}
.divider {
  @apply w-[100%] h-[1px] bg-gray-400 bg-opacity-20;
}
.input {
  @apply px-4 py-2 border border-blue-600 text-white outline-none rounded-lg bg-blue-950 bg-opacity-80 transition duration-200 hover:bg-opacity-90 focus:bg-opacity-90;
}
.ticket {
  @apply cursor-pointer py-1 px-2 border rounded border-slate-500 border-dashed transition duration-200 bg-slate-600 bg-opacity-0 hover:bg-opacity-20 text-white;
}
.ticket.selected {
  @apply border-blue-600 bg-blue-950 bg-opacity-80 border-dotted;
}

.create-button {
  @apply grid place-items-center border border-dashed border-slate-400 rounded-lg p-3 cursor-pointer transition duration-200 hover:bg-slate-50 hover:bg-opacity-5;
}

.swiper-slide {
  width: max-content !important;
}

@layer components {
  .box {
    @apply border border-gray-400 border-opacity-20 rounded-lg p-4 inline-block;
  }
  .dropdown-item {
    @apply cursor-pointer rounded-lg px-4 py-1 block transition duration-200 bg-transparent hover:bg-gray-400 hover:bg-opacity-10;
  }
  .page {
    @apply w-8/12 p-10 mx-auto;
  }
  .create-box {
    background: url('assets/img/homepage-bg.jpg') no-repeat;
    background-size: 100% 100%;
    width: 300px;
    height: 400px;
    @apply border border-gray-400 bg-opacity-20 rounded-lg flex justify-start pt-20 items-center flex-col cursor-pointer transition-all duration-200 opacity-100 hover:opacity-70;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
 
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
 
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
 
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
 
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
 
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
 
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
 
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
 
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
 
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
 
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
 
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

